.ui.button.button-box.icon {
  padding: 9px 0;
  box-sizing: border-box;
  border-radius: 5px;
  width: 71px;
  height: 60px;
  min-width: 60px;
  border: 1px solid var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui.button.button-box.icon.hide,
.ui.button.button-box.icon.hide.disabled {
  opacity: 0 !important;
}

.ui.button.button-box.icon:hover {
  border-color: var(--primary);
}

.ui.button.button-box.icon .icon {
  font-size: 18px;
  color: var(--primary);
}

.ui.button.button-box.icon .button-box__icon-hovered {
  display: none;
}

.ui.button.button-box.icon:hover .button-box__icon {
  display: none;
}

.ui.button.button-box.icon:hover .button-box__icon-hovered {
  display: inline-block;
}

.ui.button.button-box.icon .ui.label {
  margin: 0;
  background-color: transparent;
  text-transform: capitalize;
}

.ui.button.button-box.icon.loading .ui.label,
.ui.button.button-box.icon.loading .button-box__icon {
  display: none;
}
