.ui.button.button-box {
  box-sizing: border-box;
  border-radius: 5px;
  width: 144px;
  height: 46px;
  min-width: 60px;
  border: 1px solid #cfcdd4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  padding: 0;
}

.ui.button.button-box:not(.button-box__active):hover {
  border-color: #d9d9d9;
}
.ui.button.button-box.button-box__active:hover {
  border-color: #c82443;
}

.ui.button.button-box .ui.label {
  margin: 0;
  background-color: transparent;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
}

.ui.button.button-box.loading .ui.label,
.ui.button.button-box.loading svg {
  display: none;
}
