.category-buttons__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.category-buttons__container > .category-button {
  margin: 0 16px 16px 0;
}

@media (max-width: 768px) {
  .category-buttons__container > .category-button {
    margin: 0 8px 8px 0;
  }
}

.category-buttons__container > .dg.Link.ui.button.category-button {
  background-color: var(--text-on-primary);
  font-weight: normal;
  color: var(--text-on-secondary);
}
