.place-realm-activity {
  width: 100%;
}

.place-realm-activity .ui.sub.header {
  font-weight: 700;
  color: var(--secondary-text);
}

.place-realm-activity .table tr th {
  text-transform: uppercase;
}
