.ui.card.place-card {
  border-radius: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  overflow: hidden;
  height: 244px;
  width: 300px;
}

.ui.card.place-card.hidden {
  opacity: 0;
}

.ui.card.place-card.loading {
  pointer-events: none;
}

.ui.card.place-card.loading .ui.button {
  visibility: hidden;
}

.ui.card.place-card .place-card__cover {
  overflow: hidden;
}

.ui.card.place-card.loading .place-card__cover {
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s loading linear infinite;
  border-radius: 8px 0 0 8px;
}

.ui.card.place-card .content {
  padding: 10px;
  border-top-color: var(--divider);
  margin-top: -1px;
}

.ui.card.place-card.loading .content .header {
  opacity: 0;
}

.ui.card.place-card .content .header:hover {
  color: var(--text);
}

.ui.card.place-card .content .header {
  font-weight: 600;
  margin-bottom: 0;
}

.ui.card.place-card .content .header,
.ui.card.place-card .content .meta {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden !important;
}

.ui.card.place-card .place-card__stats {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 61.6%,
    rgba(0, 0, 0, 0.65) 100%
  );
}

.ui.card.place-card
  .place-card__stats
  .place-card__stats-top
  .ui.label.user-count {
  display: inline-flex;
  margin: 9px;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  border-radius: 5px;
  font-size: 13px;
}

.ui.card.place-card .place-card__stats .place-card__stats-top .ui.label svg,
.ui.card.place-card .place-card__stats .place-card__stats-bottom .ui.label svg {
  width: 13px;
}

.ui.card.place-card
  .place-card__stats
  .place-card__stats-top
  .ui.label.user-count
  svg
  path {
  fill: white;
}

.ui.card.place-card .place-card__stats .place-card__stats-bottom {
  display: flex;
  justify-content: flex-end;
}

.ui.card.place-card .place-card__stats .place-card__stats-bottom .ui.label {
  font-size: 13px;
  color: white;
  margin-bottom: 2px;
  padding-left: 0;
  margin-left: 0;
}

.ui.card.place-card .place-card__stats .place-card__stats-bottom .ui.label path,
.ui.card.place-card
  .place-card__stats
  .place-card__stats-bottom
  .ui.label
  rect {
  fill: white;
}

.ui.card.place-card .place-card__cover .dg.ImgFixed,
.ui.card.place-card .place-card__stats {
  height: 175.3px;
}

.ui.card.place-card .content,
.ui.card.place-card .place-card__cover .dg.ImgFixed {
  opacity: 1;
  transition: all ease 0.3s;
}

.ui.card.place-card:hover .place-card__cover .dg.ImgFixed {
  transform: scale(1.05);
}

.ui.card.place-card.loading .content {
  border: none;
}

.ui.card.place-card.loading .place-card__cover .dg.ImgFixed {
  opacity: 0;
}

.ui.card.place-card .dg.ImgFixed {
  border-radius: 10px 10px 0 0;
}

.ui.card.place-card .place-card__button-container {
  display: flex;
  justify-content: space-between;
}

.ui.card.place-card
  .place-card__button-container
  .ui.button.place-card__find-out {
  width: 100%;
}
