.ui.card.place-card {
  border-radius: 10px;
  width: 255px;
  height: 327px;
}

.ui.card.place-card.loading {
  pointer-events: none;
}

.ui.card.place-card.loading .place-card__cover {
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s loading linear infinite;
  border-radius: 8px 0 0 8px;
}

.ui.card.place-card .content {
  padding: 10px;
  border-top-color: #000000;
}

.ui.card.place-card .content .header {
  font-weight: 600;
  height: 75px;
  overflow: hidden !important;
}

.ui.card.place-card .place-card__cover .dg.ImgFixed {
  height: 175.3px;
}

.ui.card.place-card .content,
.ui.card.place-card .place-card__cover .dg.ImgFixed {
  opacity: 1;
  transition: opacity ease 0.3s;
}

.ui.card.place-card.loading .content {
  border: none;
}

.ui.card.place-card.loading .place-card__cover .dg.ImgFixed {
  opacity: 0;
}

.ui.card.place-card .dg.ImgFixed {
  border-radius: 10px 10px 0 0;
}

.ui.card.place-card .place-card__button-container {
  display: flex;
  justify-content: space-between;
}
