.category-filter__box {
  margin-right: 5px;
}

.category-filter__box .dcl.filter .filter-background {
  background-color: var(--primary);
  opacity: 1;
}

.category-filter__box--not-active .dcl.filter .filter-background {
  background-color: var(--background);
}

.category-filter__box .dcl.filter > span {
  color: var(--text-on-primary);
  display: flex;
  align-items: center;
}

.category-filter__box.category-filter__box--not-active .dcl.filter > span {
  color: var(--text);
}

.category-filter__remove-btn {
  width: 20px;
  height: 20px;
  margin-left: 2px;
}

.category-filter__box > .dcl.filter {
  margin-bottom: 2px;
}
