.place-featured {
  height: 420px;
  background-size: cover;
  background-position: center;
}

.place-featured::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.place-featured .dcl.hero {
  padding: 0 124px;
  width: calc(100% - 248px);
}

.place-featured .dcl.hero .ui.header.hero-title {
  color: var(--text-on-primary);
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  line-height: 39px;
}

.place-featured .dcl.hero .ui.header.hero-subtitle {
  color: var(--text-on-primary);
  max-width: 767px;
  font-weight: 400;
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.place-featured .dcl.hero .hero-actions {
  margin-top: 24px;
}

.place-featured .hero-actions .ui.button:first-child {
  margin-right: 10px;
}

.place-featured .place-featured__overlay {
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.place-featured .place-featured__label-container {
  margin-bottom: 10px;
  display: flex;
}

.place-featured .place-featured__label-container .ui.label.user-count {
  background: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  color: #fff;
  display: inline-flex;
  font-size: 13px;
  height: 30px;
  margin-left: 0;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.place-featured .place-featured__label-container .ui.label.user-count svg {
  width: 13px;
}

.place-featured .place-featured__label-container .ui.label.user-count svg path {
  fill: #fff;
}

@media screen and (min-width: 2850px) {
  .place-featured {
    height: 912px;
  }
}
@media screen and (min-width: 1900px) and (max-width: 2849px) {
  .place-featured {
    height: 570px;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1899px) {
  .place-featured {
    height: 480px;
  }
}

@media only screen and (min-width: 436px) and (max-width: 767px) {
  .place-featured .dcl.hero {
    padding: 0 80px;
    width: calc(100% - 160px);
  }
}

@media only screen and (max-width: 435px) {
  .place-featured .dcl.hero {
    padding: 0 16px;
    width: calc(100% - 32px);
  }
}

@media only screen and (max-width: 767px) {
  .place-featured .dcl.hero .ui.header.hero-subtitle {
    max-width: 100%;
  }

  .place-featured .place-featured__label-container .ui.label.user-count {
    padding: 0.5833em 0.833em;
  }
}
