.place-details__container {
  margin-top: 24.42px;
}

.place-details__container > .dcl.tabs {
  border-bottom: none;
}

.place-details__container .place-details__description-container {
  margin: 20px;
}

.place-details__container.loading .place-details__description-container p,
.place-details__container.loading
  .place-details__description-container
  .ui.label {
  opacity: 0;
  position: relative;
}

.place-details__container.loading .place-details__description-container > div {
  position: relative;
}

.place-details__container.loading
  .place-details__description-container
  > div:after {
  position: absolute;
  content: "";
  height: 20px;
  width: 100px;
  left: 0;
  bottom: 0;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s loading linear infinite;
  border-radius: 8px;
}

.place-details__container .place-details__description-container h3 {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--secondary-text);
}

.place-details__container
  .place-details__description-container
  h3:nth-child(3) {
  margin-top: 30px;
}

.place-details__container .place-details__description-container p {
  font-size: 15px;
}

.place-details__container .place-details__description-container .ui.label {
  font-size: 13px;
  color: var(--secondary-text);
  margin: 0;
}

.place-details__container > .dcl.tabs .dcl.tabs-left {
  display: flex;
  margin-left: 8px;
}

.place-details__container > .dcl.tabs .dcl.tabs-left .dcl.tab {
  color: rgba(115, 110, 125, 1);
  display: block;
  font-size: 17px;
  padding: 0px 12px 0px;
  margin: 8px 12px 8px 0;
  border-bottom: none;
}

.place-details__container > .dcl.tabs .dcl.tabs-left .dcl.tab.active {
  border-left: none;
  font-weight: 500;
  color: var(--text);
}

.place-details__container
  > .dcl.tabs
  .dcl.tabs-left
  .dcl.tab.active
  .active-bar {
  bottom: -21px;
  width: calc(100% - 24px);
  left: 12px;
}

.place-details__container .place-realm-activity {
  padding: 0 20px 20px;
}

.place-details__rating-box-container {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .place-details__container
    > .dcl.tabs
    .dcl.tabs-left
    .dcl.tab.active
    .active-bar {
    right: 0px;
    border-bottom: 3px solid var(--primary);
    border-radius: 10px;
    z-index: 10;
    bottom: -10px;
    display: block;
    left: 12px;
  }
}
