.place-stats {
  border-top: solid 1px rgba(115, 110, 125, 0.24);
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.place-stats span.dcl.stats,
.place-stats span.dcl.stats + span.dcl.stats {
  text-align: center;
  position: relative;
  margin: 23px 0;
}

.place-stats.loading .dcl.stats .ui.header:not(.sub),
.place-stats.loading .dcl.stats .ui.label {
  opacity: 0;
}
.place-stats.loading .dcl.stats .ui.header:after {
  content: "";
  height: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s loading linear infinite;
  border-radius: 8px;
}

.place-stats__point-of-interest .label {
  background-color: #ff9f2b;
  color: var(--background);
  width: 24px;
  height: 24px;
  padding: 6px 5.5px;
  margin-right: auto !important;
  margin-left: auto;
}

.place-stats > span.dcl.stats > .ui.header {
  font-size: 15px;
  font-weight: 400;
}

@media only screen and (max-width: 435px) {
  .place-stats {
    display: flex;
    flex-direction: column;
  }
  .place-stats span.dcl.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .place-stats span.dcl.stats .ui.header.sub {
    margin-bottom: 0;
    width: 50%;
    text-align: left;
  }
  .place-stats span.dcl.stats .ui.header:not(.sub) {
    margin-top: 0;
  }

  .place-stats__point-of-interest .label {
    margin-left: 0;
  }

  .place-stats.loading .dcl.stats .ui.header:after {
    width: 40%;
    left: 50%;
  }
}
