.banner-mobile {
  /* max-width: 346px; */
  width: 100%;
  height: 316px;
  background: linear-gradient(180deg, #161518 0%, #6c27a1 100%);
  border-radius: 16px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  margin: auto;
  position: relative;
}

.banner-mobile > div {
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  text-align: center;
}

.banner-mobile > div > img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.banner-mobile__title {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.banner-mobile__description {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.banner-mobile > img {
  width: 346px;
  height: 132px;
}

.banner-mobile > svg {
  position: absolute;
  top: 6px;
  right: 6px;
}

.genesis-banner-mobile {
  background: linear-gradient(360deg, #ff7562 0%, #b60f55 100%);
}

.worlds-banner-mobile {
  background: linear-gradient(180deg, #161518 0%, #6c27a1 100%);
}
