.no-results__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 55vh;
  font-weight: 100;
}

.search-results__header {
  padding-top: 20px;
  padding-left: 48px;
  padding-right: 48px;
  font-size: 24px;
}
