.ui.overview-list:not(:first-child) {
  padding-top: 45px;
}

.ui.overview-list .dcl.header-menu .ui.header {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  text-transform: capitalize;
}

.overview-list__place-list {
  flex-wrap: nowrap;
  margin-bottom: 30px;
}

.overview-list__place-list
  .place-list__carousel
  .swiper-slide
  .ui.card.place-card {
  margin-left: auto;
  margin-right: auto;
}

.overview-list__place-list .ui.card.place-card:first-child {
  margin-left: 0;
}

.overview-list__place-list .ui.card.place-card:last-child {
  margin-right: 0;
}

.place-list__container.overview-list__place-list .ui.card.place-card {
  margin-top: 2px;
  width: 100%;
}

.place-list__container.overview-list__place-list .ui.card.place-card.hidden a {
  cursor: default;
}

@media only screen and (min-width: 436px) and (max-width: 767px) {
  .overview-list__place-list {
    display: block;
  }
}
@media only screen and (max-width: 435px) {
  .place-list__container.overview-list__place-list .ui.card.place-card {
    width: calc(100vw - 32px);
    margin: 5px;
  }

  .place-list__container.overview-list__place-list
    .ui.link.card.place-card:hover {
    box-shadow: var(--shadow-1);
  }

  .ui.overview-list
    .dcl.header-menu
    .dcl.header-menu-left
    h2.dg.Title.Title--small {
    font-size: 24px;
  }

  .overview-list__place-list {
    display: block;
  }
}

.overview-search-results {
  font-size: 18px;
}

.dcl.header-menu-left {
  align-items: flex-start !important;
  flex-direction: column;
  font-size: 17px;
  font-weight: 150;
}
