.overview-list__place-list {
  flex-wrap: nowrap;
  margin-bottom: 30px;
}

.overview-list__place-list .ui.card.place-card:first-child {
  margin-left: 0;
}

.overview-list__place-list .ui.card.place-card:last-child {
  margin-right: 0;
}

.place-list__container.overview-list__place-list .ui.link.card.place-card {
  width: 400px;
}

@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .overview-list__place-list .ui.card.place-card:nth-child(5) {
    display: none;
  }
  .overview-list__place-list .ui.card.place-card:nth-child(4) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .overview-list__place-list .ui.card.place-card:nth-child(4),
  .overview-list__place-list .ui.card.place-card:nth-child(5) {
    display: none;
  }
  .overview-list__place-list .ui.card.place-card:nth-child(3) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 426px) and (max-width: 767px) {
  .overview-list__place-list .ui.card.place-card:nth-child(3),
  .overview-list__place-list .ui.card.place-card:nth-child(4),
  .overview-list__place-list .ui.card.place-card:nth-child(5) {
    display: none;
  }
  .overview-list__place-list .ui.card.place-card:nth-child(2) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 425px) {
  .place-list__container.overview-list__place-list .ui.link.card.place-card {
    width: 82vw;
    margin: 5px;
  }
  .place-list__container.overview-list__place-list
    .ui.link.card.place-card:hover {
    box-shadow: var(--shadow-1);
  }
  .ui.overview-list
    .dcl.header-menu
    .dcl.header-menu-left
    h2.dg.Title.Title--small {
    font-size: 24px;
  }
}
