.search__input {
  padding: 8px 32px;
  border: 1px rgba(115, 110, 125, 0.24) solid;
  border-radius: 20px;
  background: white no-repeat 8px center;
  background-image: url("../../images/magnify.svg");
  min-width: 356px;
  width: 95%;
  height: 40px;
}

.search__input:focus {
  outline: none;
}

@media (max-width: 768px) {
  .search__input {
    width: calc(100vw - 32px);
  }
}
