.overview-container {
  padding-top: 20px;
}

.overview__carousel2 {
  margin-top: -24px;
  margin-bottom: 22px;
}

/* TODO: Check if we need this into carousel2 */
.carousel2.overview__carousel2.fullscreen .swiper-button-next:after,
.carousel2.overview__carousel2.fullscreen .swiper-button-prev:after {
  font-size: 16px;
}

/* TODO: Check if we need this into carousel2 */
@media (max-width: 768px) {
  .overview__carousel2 {
    margin-top: -22px;
  }
}

/* TODO: Check if we need this into carousel2 */
@media only screen and (max-width: 435px) {
  .overview__carousel2 .swiper-button-prev,
  .overview__carousel2 .swiper-button-next {
    display: none;
  }
}

.Atlas canvas {
  border-radius: 10px;
}

.dcl.atlas {
  border-radius: 10px 10px 0px 0px;
}

.react-tile-map-canvas.draggable {
  border-radius: 10px 10px 0px 0px;
}

.ui.card {
  margin: unset;
}
