.my-places-list__title.dcl.hero {
  border-bottom: none;
}

.my-places-list__sign-in .SignIn {
  position: relative;
}

.ui.container.my-places-list__container {
  width: calc(100% - 96px);
  padding-top: 18px;
}

.my-places-list__place-list {
  margin-top: 40px;
  justify-content: flex-start;
  margin-left: -14px;
  margin-right: -28px;
}

@media only screen and (max-width: 767px) {
  .ui.container.my-places-list__container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .my-places-list__place-list {
    margin-right: -14px;
  }
}
