.my-places-list__title.dcl.hero {
  border-bottom: none;
}

.my-places-list__sign-in .SignIn {
  position: relative;
}

.ui.container.my-places-list__container {
  width: calc(100% - 40px);
  margin-left: 40px !important;
}

.my-places-list__place-list {
  margin-top: 40px;
  justify-content: flex-start;
}

.my-places-list__place-list .ui.card.place-card {
  margin: 0 25px 20px 0;
  max-width: 100%;
  min-width: 200px;
  width: 17vw;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .my-places-list__place-list .ui.card.place-card {
    width: 21vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .my-places-list__place-list .ui.card.place-card {
    width: 28vw;
  }
}

@media only screen and (max-width: 767px) {
  .my-places-list__place-list .ui.card.place-card {
    width: 40vw;
  }
  .ui.container.my-places-list__container {
    margin-left: 32px !important;
    margin-right: 0 !important;
    width: calc(100% - 32px) !important;
  }
}

@media only screen and (max-width: 425px) {
  .my-places-list__place-list .ui.card.place-card {
    width: 100vw;
  }
}
