.places-page {
}

.places-page .places-page__filters {
  border-right: 1px solid var(--divider);
}

.ui.grid.places-page {
  margin: 0 !important;
}

.ui.grid.places-page > .row {
  padding: 18px 0 0 !important;
}

.ui.grid.places-page > .row > .column.places-page__list {
  padding: 0 48px 24px;
}

.ui.grid.places-page > .row > .column.places-page__list .place-list__container {
  margin-left: -14px;
  margin-right: -28px;
}

.ui.grid.places-page > .row > .column.places-page__list > div {
  display: flex;
}

.places-page .ui.button.filter-container__button {
  width: 100%;
}

.places-page .places-page__filter-container .filter {
  height: 41px;
  margin-right: 10px;
}

.places-page .places-page__filter-container .filter .filter-background {
  opacity: 1;
  border-radius: 100px;
}

.places-page
  .places-page__filter-container
  .filter:not(.active)
  .filter-background {
  background-color: var(--secondary-hover);
}

.places-page .places-page__filter-container .filter span {
  color: var(--innocence);
  line-height: 31px;
  font-weight: 500;
}

.places-page .places-page__filter-container .filter:not(.active) span {
  color: var(--text);
}

.ui.page.modals .content .places-page__filter-container {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .places-page .places-page__filters .ui.header {
    margin-left: 22px;
  }

  .ui.grid.places-page
    > .row
    > .column.places-page__list
    .place-list__container {
    width: calc(100% + 28px);
  }
}

@media only screen and (max-width: 435px) {
  .ui.grid.places-page
    > .row
    > .column.places-page__list
    .place-list__container {
    width: 100%;
    margin: 0;
  }

  .ui.grid.places-page
    > .row
    > .column.places-page__list
    .place-list__container
    .ui.card.place-card {
    margin-right: 0;
    margin-left: 0;
  }
}
