.places-page {
}

.places-page__search-input--mobile {
  margin-bottom: 8px;
}

.places-page__category-filters__box {
  display: flex;
  flex-direction: column;
}

.places-page__category-filters__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.places-page__category-filters__info p {
  color: var(--secondary-text);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}

.places-page__category-filters__info > div {
  display: flex;
  align-items: center;
}

.places-page__category-filters__info > div > .ui.basic.button {
  margin-left: 5px;
}

.places-page__category-filters_box--mobile > .dcl.box-children {
  display: flex;
  flex-wrap: wrap;
}

.places-page__category-filters_box--mobile
  > .dcl.box-children
  .category-filter__box {
  margin-bottom: 5px;
}

.places-page__category-filters__filters-box {
  display: flex;
  flex-wrap: wrap;
}

.places-page__category-filters__filters-box .dcl.filter {
  margin: 2px 0;
}

.places-page .places-page__filters {
  border-right: 1px solid var(--divider);
}

.ui.grid.places-page {
  margin: 0 !important;
}

.ui.grid.places-page > .row {
  padding: 18px 0 0 !important;
}

.ui.grid.places-page > .row > .column.places-page__list {
  padding: 0 48px 24px;
}

.ui.grid.places-page > .row > .column.places-page__list .place-list__container {
  margin-left: -14px;
  margin-right: -28px;
}

.ui.grid.places-page > .row > .column.places-page__list > div {
  display: flex;
}
.ui.grid.places-page > .row > .column.places-page__list .places__pagination {
  justify-content: space-around;
  padding-top: 60px;
}

.places-page .ui.button.filter-container__button {
  width: 100%;
}

.places-page .places-page__filter-container .filter {
  height: 41px;
  margin-right: 10px;
}

.places-page .places-page__filter-container .filter .filter-background {
  opacity: 1;
  border-radius: 100px;
}

.places-page
  .places-page__filter-container
  .filter:not(.active)
  .filter-background {
  background-color: var(--secondary-hover);
}

.places-page .places-page__filter-container .filter span {
  color: var(--innocence);
  line-height: 31px;
  font-weight: 500;
}

.places-page .places-page__filter-container .filter:not(.active) span {
  color: var(--text);
}

.ui.page.modals .content .places-page__filter-container {
  margin-bottom: 20px;
}

.only-view-category-navbar__box {
  display: flex;
  align-items: center;
}

.only-view-category-navbar__box > .dcl.back {
  margin-right: 5px;
}

.places-page__category-breakdown__box {
  display: flex;
  flex-direction: column;
}

.places-page__category-breakdown__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0;
}

.places-page__category-breakdown__title > p {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 800;
}

.places-page__category-breakdown__title > p > span {
  color: #a09ba8;
  font-weight: 600;
}

.places-page__category-breakdown__title > .ui.basic.button > div {
  display: flex;
  align-items: center;
}

.places-page__category-breakdown__title > .ui.basic.button > div > p {
  margin-bottom: 0;
  color: inherit;
}

.places-page__category-breakdown__title > .ui.basic.button > div > span {
  width: 15px;
  height: 26px;
}

.clear-all-filter-btn .dcl.filter > span {
  display: flex;
  align-items: center;
}

.clear-all-filter-btn .dcl.filter > span > p {
  color: inherit;
  font-weight: 700;
  margin-left: 8px;
}

@media only screen and (min-width: 768px) {
  .places-page .places-page__filters .ui.header {
    margin-left: 22px;
  }

  .ui.grid.places-page
    > .row
    > .column.places-page__list
    .place-list__container {
    width: calc(100% + 28px);
  }

  .places-page__category-breakdown__title > p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 435px) {
  .ui.grid.places-page
    > .row
    > .column.places-page__list
    .place-list__container {
    width: 100%;
    margin: 0;
  }

  .ui.grid.places-page
    > .row
    > .column.places-page__list
    .place-list__container
    .ui.card.place-card {
    margin-right: 0;
    margin-left: 0;
  }

  .places-page__category-breakdown__title > p {
    font-size: 20px;
  }
}

.ui.modal .ui.button.category-btn {
  background-color: var(--text-on-primary);
}
