.places-page {
}

.places-page .places-page__filters {
  border-right: 1px solid var(--divider);
}

.ui.grid.places-page > .row > .column.places-page__list {
  padding-top: 48px;
  padding-right: 38px;
  padding-bottom: 0;
}

.ui.grid.places-page > .row > .column.places-page__list > div {
  display: flex;
}

.places-page .ui.pagination.menu {
  margin: 64px auto 0;
}
