.ui.label.user-like {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 30px;
  color: #716b7c;
  background-color: transparent;
}

.ui.label.user-like svg {
  width: 15px;
  margin-right: 6px;
}

.ui.label.user-like svg path,
.ui.label.user-like svg rect {
  fill: #716b7c;
}
