.ui.label.user-count {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 30px;
  color: #716b7c;
  background-color: transparent;
}

.ui.label.user-count svg {
  width: 15px;
  margin-right: 5px;
}

.ui.label.user-count svg path,
.ui.label.user-count svg rect {
  fill: #716b7c;
}
