.categories-modal__layer {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.248);
  z-index: 21; /* due to navbar */
}

.ui.grid > .categories-modal__layer {
  padding: 0;
}

.ui.grid > .categories-modal__layer > .categories-modal__box {
  padding: 0;
}

.ui.page.modals.dimmer.transition.visible.active {
  z-index: 2147483004;
}

.ui.modal.categories-modal__box {
  animation: slide-up 0.3s ease-out;
  display: flex !important;
  flex-direction: column;
  border-radius: 16px 16px 0 0;
  height: 50vh;
  position: fixed;
  bottom: 0;
  background-color: #ecebed;
  justify-content: space-between;
}

.ui.modal .header.categories-modal__header .categories-modal__text--smaller {
  width: 160px;
  margin-left: 0;
}

.ui.modal .header.categories-modal__header {
  display: flex;
  justify-content: space-between;
  border-radius: 16px 16px 0 0;
  align-items: center;
  background-color: white;
  padding: 10px 0 !important;
  margin: 0;
}

.ui.modal .header.categories-modal__header > .clear-all {
  width: 86px;
}

.ui.modal .header.categories-modal__header > p {
  margin-bottom: 0;
  color: #a09ba8;
  font-size: 14px;
  width: 240px;
  margin-left: 16px;
}

.ui.modal .header.categories-modal__header > .close-btn {
  height: 24px;
  margin-bottom: 2px;
  width: 24px;
  padding: 0;
  margin-right: 16px;
}

.ui.modal .content.categories-modal__content {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  width: 100%;
  padding: 10px 8px;
  background: none;
  margin: 0;
  flex-grow: 1;
}

.ui.modal .content.categories-modal__content .category-filter__box {
  margin: 8px;
  display: inline-block;
}

.ui.modal .actions.categories-modal__footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  margin: 0;
}

.ui.modal .actions.categories-modal__footer > .ui.button {
  width: 75%;
  margin: 0 0 10px 0;
}

.ui.page.dimmer {
  perspective: none;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
