.place-list__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  --card-columns: 1;
}

.place-list__container .ui.card:first-child {
  margin-top: 1rem;
}

.place-list__container .ui.card.place-card {
  margin-left: 14px;
  margin-right: 14px;
  width: calc((100% - 30px * var(--card-columns)) / var(--card-columns));
}

.place-list__carousel {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 535px) {
  .place-list__container .ui.card.place-card {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 435px) {
  .place-list__container .ui.card.place-card {
    width: 100vw;
  }

  .ui.card.place-card .place-card__cover .dg.ImgFixed {
    height: 175px;
  }

  .place-list__container .ui.card:first-child {
    margin-top: 10px;
  }
}
