import { createPlaceNewMigrationUpdate } from "../entities/Place/migration"
import { PlaceAttributes } from "../entities/Place/types"
import defaultPlace from "../seed/FILENAME"

const attributes: Array<keyof PlaceAttributes> = [
  "base_position",
  "highlighted_image",
  "highlighted",
  "featured",
  "featured_image",
  "world_name",
  "visible",
]

export const { up, down } = createPlaceNewMigrationUpdate(
  defaultPlace,
  attributes
)
