/* {
  "update": [
    {
      "base_position": "144,-7",
      "highlighted_image": "/images/places/dice_masters.jpeg",
      "highlighted": true
    },
    {
      "base_position": "-29,55",
      "featured": true
    },
    {
      "world_name": "mgoldman.dcl.eth",
      "featured": true,
      "visible": true
    }
  ]
} */
{
  "update": []
}
