.favorites-list__empty.ui.container {
  width: calc(100% - 48px);
  height: 240px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ecebed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.favorites-list__empty.ui.container .dg.Paragraph {
  width: fit-content;
  text-align: center;
}

.favorites__carousel .ui.card,
.favorites__carousel .ui.card:first-child {
  margin: 1em;
}

.favorites__carousel .ui.card:only-child {
  margin: 1em auto;
}

.favorites__item-container {
  display: flex;
}
